/* Nav Style */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.about {
  border-radius: 20px;
  padding: 130px 50px;
  margin-top: 120px;
}

.aboutfooter {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 18px 35px;
  border: none;
}

.banner-titel {
  font-weight: bold;
  font-size: 85px;
  margin: 0px;
  padding: 0px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 230px;
}

.bannerprofilepic {
  width: 584px;
}
.banner-greeting {
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  padding: 0;
}

.content {
  background-color: #ded5ce;
}
.dark2 {
  color: #474747;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 220px;
}
.nav title {
  font-weight: bold;
  font-size: 85px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav ul a {
  text-decoration: none;
}

.text-primary {
  color: #fd6e0a;
}

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.footer {
  display: flex;
  background-color: #fff8f3;
}
/* shared style */
.section-titel {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
  text-align: center;
}

.section-paragraph {
  font-size: 18px;
  color: #757575;
  justify-content: center;
}

.secondary-bg {
  background-color: #e8f5ee;
}

.skill {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.skilldescription {
  padding: 30px;
}


.summary {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  gap: 120px;
}

.f {
  display: flex;
  gap: 50px;
}
